<launch>

    <node pkg="map_server" name="map_server" type="map_server" args="$(find
    find_path)/maps/map.yaml"/>


    <node pkg="find_path" type="astar_node" name="astar" output="screen">
        <param name="Euclidean" value="true" />
        <param name="OccupyThresh" value="-1" />
        <param name="InflateRadius" value="0.25" />
        <param name="rate" value="10" />
    </node>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find find_path)/rviz/astar.rviz" />

</launch>